<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div>
    <ul class="nav justify-content-end shadow-lg p-3 mb-5 bg-white rounded">
        <li class="nav-item">
            <a style="color:red" class="nav-link active" href="index">Home</a>
        </li>
        <li th:if="${!logged}" class="nav-item">
            <a style="color:red" class="nav-link" href="login">Login</a>
        </li>
        <li th:if="${logged}" class="nav-item">
            <a style="color:red" class="nav-link" href="logout">Logout</a>
        </li>
    </ul>
</div>

<div class="container">
    <div  class="row">
        <div th:each="m : ${model}" style="margin-bottom: 10px;" class="col-sm">
            <div class="card" style="width: 18rem;">
                <img style="height: 200px" th:src="${m.photo}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 th:text="${m.name}" class="card-title"></h5>
                    <p th:text="${m.description}" class="card-text"></p>
                    <h6 class="card-title">Price</h6>
                    <p th:text="${m.price}" class="card-text"></p>
                    <a style="background-color:green" th:href="@{/add-to-cart?model_id=} + ${m.id}" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>