<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div>
    <ul class="nav justify-content-end shadow-lg p-3 mb-5 bg-white rounded">
        <li class="nav-item">
            <a style="color:red" class="nav-link active" href="index">Home</a>
        </li>
        <li class="nav-item">
            <a style="color:red" class="nav-link" href="brand">Cars</a>
        </li>
        <li class="nav-item">
            <a style="color:red" class="nav-link" href="logout">Logout</a>
        </li>
    </ul>
</div>

<div>
        <h2 style="color:green;text-alignment:center">Congratulations, your order has been placed !</h2>
</div>
</body>
</html>